html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background-image: url("background.a5641b8f.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

img {
  max-width: 100%;
  height: auto; }

#main {
  color: #ffffff;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #main .container {
    margin: 10px; }
  #main h3 {
    font-weight: normal; }
  #main .contents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
  #main .contents > div {
    padding: 10px;
    box-sizing: border-box; }
  #main .contents svg {
    fill: #ffffff;
    width: 100%;
    max-width: 128px; }
